/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */

:root {
  --primaryColor: #171717;
  --secondaryColor: #525252;

  --buttonSecondaryColor: #4338ca;
  --buttonPrimaryColor: #ffffff;

  --buttonPrimaryColorHover: #fafafa;
  --buttonSecondaryColorHover: #3730a3;

  --textButtonDisabledColor: #a3a3a3;
  --buttonFocusOutlineColor: #f5f5f5;
}

body {
  margin: 0;
  font-family: 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem;
  gap: 2rem;
  background-color: #f9fafb;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.content-wrapper__title {
  font-size: 3.75rem;
  margin-bottom: 1.5rem;
  color: var(--primaryColor);
}

.content-wrapper__subtitle {
  font-size: 1.125rem;
  margin-bottom: 4rem;
  color: var(--secondaryColor);
}

.link-wrapper a {
  display: inline-block;
  margin-right: 2rem;
  border-radius: 0.25rem;
  padding: 1rem 2.25rem;
}

.link-wrapper__link--primary {
  background-color: var(--buttonSecondaryColor);
  color: var(--buttonPrimaryColor);
  &:hover {
    background-color: var(--buttonSecondaryColorHover);
  }
  &:focus {
    border: 1px solid var(--buttonFocusOutlineColor);
    background-color: var(--buttonSecondaryColorHover);
  }
  &:disabled {
    color: var(--textButtonDisabledColor);
    background-color: var(--buttonFocusOutlineColor);
  }
}

.link-wrapper__link--secondary {
  background-color: white;
  filter: drop-shadow(1px 1px 1px var(--secondaryColor));
  color: black;
  &:hover {
    background-color: var(--buttonPrimaryColorHover);
  }
  &:focus {
    border: 1px solid var(--buttonFocusOutlineColor);
    background-color: var(--buttonPrimaryColorHover);
  }
  &:disabled {
    color: var(----textButtonDisabledColor);
    background-color: var(--buttonFocusOutlineColor);
  }
}

@media screen and (max-width: 1440px) {
  .app-wrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .app-wrapper {
    flex-direction: column;
    padding: 4rem 0.75rem;
  }

  .content-wrapper {
    width: 100%;
  }

  .content-wrapper__title {
    font-size: 3rem;
  }

  .content-wrapper__subtitle {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 375px) {
  .app-wrapper {
    gap: 3rem;
  }

  .link-wrapper {
    display: flex;
    gap: 1rem;
  }

  .link-wrapper a {
    padding: 0.75rem 2rem;
  }

  .link-wrapper__link--secondary,
  .link-wrapper__link--primary {
    font-size: 0.825rem;
  }

  .content-wrapper {
    width: 100%;
  }

  .content-wrapper__title {
    font-size: 2.25rem;
  }

  .content-wrapper__subtitle {
    font-size: 1.125rem;
  }
}
